.card {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgb(199, 180, 180);
  color:rgb(98, 102, 102);
  width: 100%;
}
.card-comments {
  margin-top: 10px;
  font-size: 13px;
}
